div("(click)"="open()")
    i.fa.fa-cogs

ng-template("#menuBodyTemplate"="")
    .modal.app-config
        .modal-body
            form("(ngSubmit)"="save()")
                .form-group
                    input.form-control("[(ngModel)]"="model.columnA.handle", name="handle_a", placeholder="Handle")
                    input.form-control("[(ngModel)]"="model.columnA.limit", name="limit_a", placeholder="Limit")
                .form-group
                    input.form-control("[(ngModel)]"="model.columnB.handle", name="handle_b", placeholder="Handle")
                    input.form-control("[(ngModel)]"="model.columnB.limit", name="limit_b", placeholder="Limit")
                .form-group
                    input.form-control("[(ngModel)]"="model.columnC.handle", name="handle_c", placeholder="Handle")
                    input.form-control("[(ngModel)]"="model.columnC.limit", name="limit_c", placeholder="Limit")
                button.btn.btn-default(type="submit") Save