a.tweet("*ngFor"="let tweet of tweets", href="https://twitter.com/statuses/{{tweet.id}}", target="_blank")
    div {{tweet.content}}
    div
        span {{tweet.author}}
        span.date ({{tweet.date | date:"yyyy-MM-dd HH:mm:ss"}})