div
    div(data-twittertrack-tweet-column, "[model]"="model.columnA")
    div(data-twittertrack-tweet-column, "[model]"="model.columnB")
    div(data-twittertrack-tweet-column, "[model]"="model.columnC")
div(data-twittertrack-config, "[model]"="model", "(onReload)"="onReload()")
