div
    div(data-twittertrack-tweet-column, "[tweets]"="model.columnA.tweets")
    div(data-twittertrack-tweet-column, "[tweets]"="model.columnB.tweets")
    div(data-twittertrack-tweet-column, "[tweets]"="model.columnC.tweets")
div(data-twittertrack-config, "[model]"="model", "(onReload)"="onReload()")
