doctype html
html
    head
        title twittertrack
        base(href="/")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
    body
        div(data-twittertrack) Loading...
